<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>走心交友</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="friend_index">Everyone is friend</a>
        </div>
        <label class="toggle-label visible-xs-inline-block" for="toggle-checkbox">MENU</label>
        <input class="hidden" id="toggle-checkbox" type="checkbox">
        <div class="hidden-xs">
            <div class="col-sm-offset-2">
                <ul class="nav navbar-nav navbar-list">
                    <li><a href="#">全部分类</a></li>
                    <li><a href="#">校园交友</a></li>
                    <li><a href="#">生活分享</a></li>
                    <li><a href="#">情感倾诉</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-8">
        <h1 class="blog-title">大学生活中难得抽出这样一天的惬意啊</h1>
        <div class="blog-info">
            <span class="avatar"><img src="img/user.png" alt="avatar"></span>
            <span>user</span> |
            <span>2.8K热度</span> |
            <span>5分钟前</span>
            <label class="label label-info">校园服务</label>
            <label class="label label-warning">走心交友</label>
            <label class="label label-success">生活分享</label>
        </div>
        <div class="blog-content">
            <blockquote>
                <p>生活分享，记录点滴</p>
            </blockquote>
            <img src="img/sun.jpg">
            “要一个黄昏，满是风，和正在落下的夕阳。如果麦子刚好熟了，炊烟恰恰升起。
            那只白鸽贴着水面飞过，栖息于一棵芦苇。而芦苇正好准备了一首曲子。
            如此，足够我爱这破碎泥泞的人间。”
        </div>
    </div>
    <div class="col-sm-4 hidden-xs">
        <div class="search-bar">
            <form role="form">
                <div class="form-group has-feedback">
                    <label class="sr-only" for="Search">Search：</label>
                    <input type="search" class="form-control" placeholder="搜索" id="Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
        <div class="side-bar-card side-bar-recommend clearfix">
            <div class="side-bar-title">热点推荐</div>
            <div class="side-bar-body">
                <div class="side-bar-list">
                    <div class="side-bar-item">
                        <a href="blog.html" class="side-item-title">找一个考研小伙伴</a>
                        <div class="side-item-info">10.4k阅读 | 五天前</div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <address class="text-center">
        <p>校园服务系统——走心交友</p>
        <a href="#">返回顶部</a>
    </address>
</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="js/jquery-3.3.1.min.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="js/bootstrap.min.js"></script>
</body>
</html>