<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>发布信息</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="css/friend_upload.css" rel="stylesheet">
</head>
<body>
  	<header>
  	<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="friend_index">发布</a>
        </div>
        <div class="hidden-xs">
            <ul class="nav navbar-nav navbar-right">
           	    <li><a href="free_talk" target="_blank" class="website_icon">首页</a></li>
  			    <li><a href="personal_info" class="set_icon">账号信息</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="margin-right: 25px;">
                        <span class="hello">Welcome!</span>
                    </a>
                </li>
            </ul>  
        </div>
    </div>
	</div>
	</header>
	<div class="container">
    <form class="form-signin" action="">
    	<div class="public-nav">您当前的位置：<a href="">发布信息</a>></div>
        <h2 class="form-signin-heading">请填写图文内容</h2>
        <label for="text" class="sr-only">文章内容</label>
        <input type="text" id="A_text" name="A_text" class="form-control" placeholder="文章内容" required>
        <label for="text" class="sr-only">文章图片</label>
        <input type="file" name="" id="chooseImage" accept=".jpg,.jpeg,.png">
    	<img id="showImg" src="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 确认无误
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="login()">上传</button>
        <span><a href="/#" class="register">退出</a></span>
    </form>
</div> <!-- /container -->
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="js/jquery-3.3.1.min.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
$('#chooseImage').on('change',function(e){
      // 检查是否是图片
      var filePath = $(this).val(),
      fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase();//获取文件后缀名
      //检查后缀名
      if( !fileFormat.match(/.png|.jpg|.jpeg/) ) {
            showError('文件格式必须为：png/jpg/jpeg');//showError是另外写的一个显示错误信息的function
            return;  
      }

      //获取并记录图片的base64编码
      var reader = new FileReader();
      reader.readAsDataURL(e.target.files[0]); // 读出 base64
      reader.onloadend = function () {
      // 图片的 base64 格式, 可以直接当成 img 的 src 属性值        
      var dataURL = reader.result;//base64
      // 显示图片
      $('#showImg').attr('src',dataURL);
      };
});
</script>
<script type="text/javascript">
	function login()
 {     
	var A_text = document.getElementById("A_text").value;	
 	var A_url = document.getElementById("showImg").value;
 	var data = {"A_text":A_text,"A_url":A_url};
    $.ajax
    ({
    	url: "http://localhost:8080/home/life/lifeUpload",
    	dataType: "json",
		type: "POST",
		data: JSON.stringify(data),
		contentType : "application/json;charset=UTF-8",
		success: function(res) {
		     if (res.data.result!="success") {
		         alert(res.data.result);
		 		 alert("吐槽信息上传失败，请重新输入");
		 		 window.location.href="/friend_upload";
		     } else {
			 	 alert(res.data.result);
			 	 window.parent.window.location.reload();
		         window.location.href="/friend_index";
		     }
		},
    });
 }
</script>
</html>