<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--引入thymeleaf-->
<meta name="referrer" content="no-referrer" />
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body class="body">
<!--导航栏-->
<div th:fragment="copy">
<nav class="navbar navbar-default" role="navigation">    
        <div class="container-fluid">    
        <div class="navbar-header">        
            <button type="button" class="navbar-toggle" data-toggle="collapse"                
                    data-target="#example-navbar-collapse">            
                <span class="sr-only">切换导航</span>            
                <span class="icon-bar"></span>            
                <span class="icon-bar"></span>            
                <span class="icon-bar"></span>        
                </button>        
                <a class="navbar-brand" href="#">软件工程综合大实习</a>    
        </div>   
        <div class="collapse navbar-collapse" id="example-navbar-collapse">        
            <ul class="nav navbar-nav">            
	            <li class="active"><a href="second_hand" target="_self" rel="noopener noreferrer">二手交易</a></li>             
	            <li><a href="talk_index" target="_self" rel="noopener noreferrer">校园吐槽</a></li>
	            <li><a href="friend_index" target="_self" rel="noopener noreferrer">走心交友</a></li>
	            <li><a href="search_book" target="_self" rel="noopener noreferrer">图书资源</a></li> 
	            <li><a href="notify" target="_self" rel="noopener noreferrer">课表查询</a></li> 
	            <li><a href="notify" target="_self" rel="noopener noreferrer">成绩查询</a></li>          
       			<li><a href="feedback" target="_self" rel="noopener noreferrer">用户反馈</a></li>
       			<form class="navbar-form navbar-left" role="search">            
       			<div class="form-group">                
       			<input type="text" class="form-control" placeholder="更多内容">            
       			</div>            
       			<button type="submit" class="btn btn-default">搜索</button>        
       			</form>        
    		</ul>
    		<!--登陆成功后显示的内容-->
    		<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="margin-right: 25px;">
                        <span class="hello">Welcome!</span>
      					<span id="username" class="name" th:text="${username}"></span>
                    </a>
                </li>
            </ul>    
  		</div>    
 		</div>
	</nav>
</div>
<script>
$(document).ready(function(){
    $("#username").text(sessionStorage.getItem('USER_NAME'));
})
</script>
</body>