<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校园吐槽</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="free_talk">talk what you want</a>
        </div>
        <div class="hidden-xs">
            <div class="col-sm-offset-2">
                <ul class="nav navbar-nav navbar-list">
                    <li><a href="#">校园吐槽</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="talk_upload" target="_self" rel="noopener noreferrer">吐槽发布</a></li>
                <li><a href="talk_search" target="_self" rel="noopener noreferrer">吐槽搜索</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="margin-right: 25px;">
                        <span class="hello">Welcome!</span>
                    </a>
                </li>
            </ul>  
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-8">
        <h1 class="blog-title">宿舍门坏了应该怎么报修，求解答</h1>
        <div class="blog-info">
            <span class="avatar"><img src="img/user.png" alt="avatar"></span>
            <span>user</span> |
            <span>2.8K热度</span> |
            <span>5分钟前</span>
            <label class="label label-info">校园吐槽</label>
            <label class="label label-warning">基建</label>
            <label class="label label-success">未解决</label>
        </div>
        <div class="blog-content">
            <blockquote>
                <p>自由言论，随心吐槽</p>
            </blockquote>
            学校经常停水啊，听说是挖穿了管道，大家说是这个样子吗？
        </div>
    </div>
    <div class="col-sm-4 hidden-xs">
        <div class="search-bar">
            <form role="form">
                <div class="form-group has-feedback">
                    <label class="sr-only" for="Search">Search：</label>
                    <input type="search" class="form-control" placeholder="搜索" id="Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
        <div class="side-bar-card side-bar-recommend clearfix">
            <div class="side-bar-title">热点推荐</div>
            <div class="side-bar-body">
                <div class="side-bar-list">
                    <div class="side-bar-item">
                        <a href="blog.html" class="side-item-title">找一个考研小伙伴</a>
                        <div class="side-item-info">10.4k阅读 | 五天前</div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <address class="text-center">
        <p>校园服务系统——校园吐槽</p>
        <a href="#">返回顶部</a>
    </address>
</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="js/jquery-3.3.1.min.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="js/bootstrap.min.js"></script>
</body>
</html>