<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校园吐槽</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="free_talk">talk what you want</a>
        </div>
        <div class="hidden-xs">
            <div class="col-sm-offset-2">
                <ul class="nav navbar-nav navbar-list">
                    <li><a href="#">校园吐槽</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="talk_upload" target="_self" rel="noopener noreferrer">吐槽发布</a></li>
                <li><a href="talk_search" target="_self" rel="noopener noreferrer">吐槽搜索</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="margin-right: 25px;">
                        <span class="hello">Welcome!</span>
                    </a>
                </li>
            </ul>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2 hidden-xs">
            <div class="list-group side-bar">
                <a class="list-group-item active" role="button">热帖<span class="badge badge-primary badge-pill">3</span></a>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="blog-list">
                <div class="blog-list-item clearfix">
                    <div class="col-xs-7">
                        <a href="talk_page1" class="title">
                             宿舍门坏了应该怎么报修，求解答
                        </a>
                        <div class="info">
                            <span class="avatar"><img src="img/user.png"
                                                      alt="avatar"></span>
                            <span>user</span> |
                            <span>10</span>
                            <span class="glyphicon glyphicon-thumbs-up blog-hot" aria-hidden="true"></span> |
                            <span>5分钟前</span>
                        </div>
                    </div>
                </div> 
                <div class="blog-list-item clearfix">
                    <div class="col-xs-7">
                        <a href="talk_page1" class="title">
                             求告知，高等数学选哪个老师的要好一些啊
                        </a>
                        <div class="info">
                            <span class="avatar"><img src="img/user.png"
                                                      alt="avatar"></span>
                            <span>user</span> |
                            <span>4</span>
                            <span class="glyphicon glyphicon-thumbs-up blog-hot" aria-hidden="true"></span> |
                            <span>5分钟前</span>
                        </div>
                    </div>
                </div> 
                <div class="blog-list-item clearfix">
                    <div class="col-xs-7">
                        <a href="talk_page1" class="title">
                             为什么学校经常停电停水，大伙知道原因吗
                        </a>
                        <div class="info">
                            <span class="avatar"><img src="img/user.png"
                                                      alt="avatar"></span>
                            <span>user</span> |
                            <span>1</span>
                            <span class="glyphicon glyphicon-thumbs-up blog-hot" aria-hidden="true"></span> |
                            <span>5分钟前</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <div class="col-sm-3 hidden-xs">
            <div class="side-bar-card side-bar-recommend clearfix">
                <div class="side-bar-title">话题推荐</div>
                <div class="side-bar-body">
                    <div class="side-bar-list">
                        <div class="side-bar-item">
                            <a href="blog.html" class="side-item-title">学校西区宿舍楼后门安全隐患问题</a>
                            <div class="side-item-info">100阅读 | 五天前</div>
                        </div>                                             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="js/jquery-3.3.1.min.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="js/bootstrap.min.js"></script>
</body>
</html>