<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>发布信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>
  <header>
  <div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="friend_index">upload goods</a>
        </div>
        <div class="hidden-xs">
            <div class="col-sm-offset-2">
                <ul class="nav navbar-nav navbar-list">
                    <li><a href="#">商品上传</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="second_hand" target="_self" rel="noopener noreferrer">首页</a></li>
  			    <li><a href="personal_info" target="_self" rel="noopener noreferrer">账号信息</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="margin-right: 25px;">
                        <span class="hello">Welcome!</span>
                    </a>
                </li>
            </ul>  
        </div>
    </div>
	</div>
	</header>
	<div class="container">
    <form class="form-signin" action="">
    	<div class="public-nav">您当前的位置：<a href="">发布信息</a>></div>
        <h2 class="form-signin-heading">请填写商品内容</h2>
        <label for="text" class="sr-only">商品标签</label>
        <input type="text" id="good_tag"  class="form-control" placeholder="商品标签" required autofocus>
        <label for="text" class="sr-only">商品名称</label>
        <input type="text" id="good_name"  class="form-control" placeholder="商品名称" required>
        <label for="text" class="sr-only">商品价格</label>
        <input type="text" id="good_price"  class="form-control" placeholder="商品价格" required>
        <label for="text" class="sr-only">商品描述</label>
        <input type="text" id="good_detail"  class="form-control" placeholder="商品描述" required>
        <label for="text" class="sr-only">商家区域</label>
        <input type="text" id="good_area"  class="form-control" placeholder="商家区域" required>
        <label for="text" class="sr-only">商品图片</label>
        <input type="file" name="" id="chooseImage" accept=".jpg,.jpeg,.png">
    	<img id="showImg" src="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 确认无误
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="upload()">上传</button>
        <span><a href="/#" class="register">退出</a></span>
    </form>
</div> <!-- /container -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="js/jquery-3.3.1.min.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.min.js"></script>
</body>
<script type="text/javascript">
$('#chooseImage').on('change',function(e){
      // 检查是否是图片
      var filePath = $(this).val(),
      fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase();//获取文件后缀名
      //检查后缀名
      if( !fileFormat.match(/.png|.jpg|.jpeg/) ) {
            showError('文件格式必须为：png/jpg/jpeg');//showError是另外写的一个显示错误信息的function
            return;  
      }

      //获取并记录图片的base64编码
      var reader = new FileReader();
      reader.readAsDataURL(e.target.files[0]); // 读出 base64
      reader.onloadend = function () {
      // 图片的 base64 格式, 可以直接当成 img 的 src 属性值        
      var dataURL = reader.result;//base64
      // 显示图片
      $('#showImg').attr('src',dataURL);
      };
});
</script>
<script type="text/javascript">
	function upload()
 { 	
	var P_price = document.getElementById("good_price").value;	
 	var P_url = document.getElementById("chooseImage").value;
 	var P_tag = document.getElementById("good_tag").value;	
 	var P_title = document.getElementById("good_name").value;	
 	var P_text = document.getElementById("good_detail").value;	
 	var P_area = document.getElementById("good_area").value;	
 	var data = {"P_price":P_price,"P_url":P_url,"P_tag":P_tag,"P_title":P_title,"P_text":P_text,"P_area":P_area};
    $.ajax
    ({
    	url: "http://localhost:8080/home/trade/goodsRealse",
    	dataType: "json",
		type: "POST",
		data: JSON.stringify(data),
		contentType : "application/json;charset=UTF-8",
		success: function(res) {
		     if (res.data.result!="success") {
		         alert(res.data.result);
		 		 alert("商品发布失败，请检查后重新发布");
		 		 window.parent.window.location.reload();
		     } else {
			 	 alert(res.data.result);
			 	 window.parent.window.location.reload();
		         window.location.href="/second_hand";
		     }
		},
    });
 }
</script>
</html>